body {
  font-family: "Inter", sans-serif;
  width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navigasia ul li{
  display: inline-block;
  padding: 0 32px ;
}

.navigasia ul a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.navigasia ul {
  list-style: none;
}
.navigasia {
  display: block;
  align-items: center;
  text-align: center;
}

/* /* main */
.container h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}

p .main-highlighted {
  color: #04959e;
}

.container-main {
  width: 856px;
  margin: 0 auto;
}
.main-parahraf {
  color: #161616;
  font-size: 21px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 0;
}
.main-text {
  padding: 20px;
  color: #161616;
  font-size: 18px;
  font-style: normal;
  line-height: 150%;
  font-weight: 400;
}
.btn {
  text-align: center;
  align-items: center;
}
.btn-content {
  color: #fff;
  background: #04959e;
  padding: 10px 24px;
  font-size: 18px;
  line-height: 135%;
  border: #000;
  margin: 40px 0 88px;
}

/* footer */
.footer {
  color: #161616;
  text-align: center;
  border-top: 1px #161616 solid;
  padding-top: 16px;
}
